html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: clamp(14px, 1.2vw, 60px);
}


body.main-bg {
  background-color: rgb(14, 14, 14);
  margin: 0;
  padding: 0;
}


/* background */
.background-image {
  background-image: url("/static/images/background_1_ver3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 600px) {
  .background-image {
    background-image: url("/static/images/background_1_mobile.png");
    background-position: center top; /* optional tweak */
    background-size: cover;          /* still fills screen */
  }
}

.overlay {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-20%);
}

h1 {
  font-size: 6.5rem;
  margin-bottom: -2.5rem;
  font-family: 'Anton', sans-serif;
  color: #eaa903f1;
}

p {
  color: #eaa903f1;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family: serif;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;  /* center content horizontally */
  align-items: center;      /* center vertically */
  width: 15rem;

  background-color: rgba(255, 255, 255, 0.1); /* translucent white */
  color: rgb(191, 191, 191) ;
  padding: 0.75rem 2rem;
  border-radius: 3rem;
  font-size: 1.35rem;
  font-family: 'Anton', serif;
  text-decoration: none;
  backdrop-filter: blur(4px); /* Optional: frosted glass effect */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}


.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.5rem 2rem;
  margin-top: 0;
  color: white;
  font-family: sans-serif;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.step {
  flex: 1 1 12.5rem;
  margin: 0.75rem 1.25rem;
  min-width: 12.5rem;
  max-width: 15rem;
}

.step h4 {
  font-size: 0.75rem;
  color: rgba(191, 191, 191,0.6);
  margin-bottom: -0.5rem;
}

.step .step-header {
  font-size: 1.2rem;
  font-family: 'Anton', sans-serif;
  color:#eaa903f1;
}

.step p {
  color: rgb(191, 191, 191);
  font-size: 1rem;
}

.data-usage-section {
  background-color: #111; /* dark but distinct from steps */
  padding: 4rem 2rem;
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
}

.data-usage-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #eaa903f1;
  font-family: 'Anton', sans-serif;
}

.data-usage-section p {
  font-size: 1rem;
  color: rgb(191, 191, 191);
}