<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Vibe AI</title>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body class="background-image">
  <div class="overlay">
    <div class="content">
      <h1>VIBE AI</h1>
      <p>A playlist for the moment</p>
      <a href="/login" class="btn">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" alt="Spotify" class="spotify-icon">
        <span class="btn-text">Create</span>
      </a>
    </div>
  </div>
</body>
</html>